<div class="form-floating mb-3">
  <input
    type="{{type}}"
    class="form-control"
    placeholder="{{label}}"
    [formControl]="control"
    [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
  >
  <label >{{label}}</label>
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">Please enter {{label}}</div>
  <div *ngIf="control.errors?.['email']" class="invalid-feedback">Invalid email</div>
  <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Password is not complex enough</div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Email already in use</div>
</div>
